<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>442335622346-99uvfj81dhnle28iju6a7bpnao5mo2kc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.442335622346-99uvfj81dhnle28iju6a7bpnao5mo2kc</string>
	<key>API_KEY</key>
	<string>AIzaSyAUAGo0in0Gg31-fd1CoOhMSoescSf7CPw</string>
	<key>GCM_SENDER_ID</key>
	<string>442335622346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatNovo</string>
	<key>PROJECT_ID</key>
	<string>chat-novo-59d2d</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-novo-59d2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442335622346:ios:dfeffda442360b28dff033</string>
</dict>
</plist>